body {
    font-family: "Inter", sans-serif;
    background-color: white;
    overflow-x: hidden;
}
.navbar {
    top: 0px;
    font-weight: bold;
    box-shadow: 2px 2px 9px 1px rgb(0 0 0 / 20%);
}

.navbar-nav .nav-link.active {
    color: #ff7700;
    border-bottom: 2px solid #ff7700;
}
#navbarNav > ul {
    width: 70%;
    font-size: 13px;
    font-weight: bolder ;
}

#navbarNav > ul > li {
    list-style: none;
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.nav-link {
    color: black;
}

.navbar-toggler-icon {
    fill: #ff7700 !important;
    background-image: url("../img/icons8-menu.svg");
}

.navbar > .container > a > svg {
    width: 50%;
    fill: black;
}

@media screen and (max-width: 988px) {
    .navbar > .container > a > svg {
        width: 50%;
        fill: white;
    }

    .navbar-nav .nav-link.active {
        color: #ffed16;
        border-bottom: 2px solid #ff7700;
    }
    .navbar-nav .nav-link {
        color: white;
        border-bottom: 2px solid #ff7700;
    }
    .nav-link:hover {
        color: #ffed16;
    }

    nav {
        top: 0px;
        background-color: transparent;
        font-family: "Inter", sans-serif;
        font-size: 22px;
        font-weight: bold;
    }

    nav {
        background-color: #ff7700 !important;
    }
    #navbarNav > ul {
        list-style: none;
        text-decoration: none;
        color: #fff;
        width: 100%;
    }
    #navbarNav > ul > li {
        list-style: none;
        text-decoration: none;
        color: #fff;
        border-bottom: 2px solid #fff;
        width: 100%;
        text-align: center;
    }
    #navbarNav > ul :last-child {
        border: none;
    }
}
