@media screen and (max-width: 988px) {

    .box {
        position: relative;
        height: 60vh;
        background-image: Linear-gradient(rgb(70, 23, 99), rgb(37, 29, 58));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 60vh;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(10px);
        color: #fff;
    }

    .shape::after {
        position: absolute;
        content: "Nemoooo";
        width: 100%;
        height: 20%;
        background-color: rgb(37, 29, 58);
        clip-path: polygon(0% 0%, 100% 0, 100% 68%, 50% 28%, 0 28%);
    }

    .text > .navbar > .container > a > svg {
        width: 50%;
        fill: white;
    }

    .header-text {
        font-family: Montserrat, sans-serif;
        letter-spacing: 2px;
        line-height: 100%;
        margin-top: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 900;
        font-size: 30px;
    }

    .header-text > button {
        text-align: center;
        line-height: 50%;
        height: 50px;
        width: 150px;
        border-radius: 5px;
        font-size: 16px;
        outline-style: none;
        border: none;
        background-color: #ff7700;
        color: white;
    }

    .header-text > p:last-of-type {
        color: #ff7700;
    }

    .navbar-nav .nav-link.active {
        color: #ffed16;
        border-bottom: 2px solid #ff7700;
    }

    .nav-link:hover {
        color: #ffed16;
    }

    nav {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: bold;
        position: fixed !important;
        background-color: rgb(70, 23, 99);
        width: 100%;

    }


    .navbar > .container > a {
        width: 50%;
    }

    .navbar > .container {
        padding: 0 20px;
    }

    #navbarNav > ul {
        list-style: none;
        text-decoration: none;
        color: #fff;
        width: 100%;
    }

    #navbarNav > ul > li {
        list-style: none;
        text-decoration: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    #navbarNav > ul :last-child {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    main {
        display: flex;
        flex-direction: column;
        color: black;
    }

    main > .s1 {
        padding: 31px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        border-bottom: 1px solid #ff7700;
    }

    main > .s1 > div {
        display: none;
    }


    main > .s1 > .text1 > h1 {
        font-family: "Montserrat", sans-serif;
        width: fit-content;
        font-weight: 700;
        padding-top: 31px;
        border-bottom: 3px solid #ff7700;
    }

    main > .s1 > .text1 > h1 > span {

        border-bottom: none;
    }

    main > .s1 > .text1 {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    main > .s1 > .text1 > :nth-child(2) {
        font-size: 18px;
        padding: 10px;
        text-align: left;
    }

    main > .sec1 > .text1 > :nth-child(3) {
        font-size: 18px;
        margin-top: 25px;
    }

    main > .sec1 > .text1 > :last-child {
        font-size: 25px;
        font-weight: bold;
        color: #ff7700;
    }

    main > .s2 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    main > .s2 > div {
        display: none;
    }

    main > .s2 > .text2 {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px;
    }

    main > .s2 > .text2 > :nth-child(2) {
        margin-top: 25px;
        font-size: 20px;
        line-height: 32px;
    }

    main > .sec1 > .text2 > ul {
        color: black;
        font-size: 15px;
        list-style: none;
        font-weight: 700;
        line-height: 3;
        margin: 0;
    }

    main > .s2 > .text2 > h1 > span {
        border-bottom: none;
    }

    main > .s2 > .text2 > h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        width: fit-content;
        border-bottom: 3px solid #ff7700;

    }

    main > .sec1 > .text2 > ul li::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #ff7700; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
    }

    .bar {
        background-color: #ff7700;
        margin-bottom: 20px;
        font-size: 14px;
        color: white;
        font-weight: bold;
        display: flex;
        width: 100%;
        padding: 0;
        align-items: center;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .bar > section {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .bar > section > img {
        width: 53px;
        margin-bottom: 5px;
    }

    .bar > section:nth-child(4) > img {
        width: 40px;
    }

    main > .how-work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    main > .how-work > h1 {
        font-weight: bold;
    }

    main > .how-work > h1 > span {
        border-bottom: 3px solid #ff7700;
    }

    main > .how-work > .cards {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    main > .how-work > .cards > section {
        margin: 15px 60px;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    main > .how-work > .cards > section > object {
        text-align: center;
        width: 40px;
    }

    main > .how-work > .cards > section > h3 {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        display: flex;
    }

    main > .how-work > .cards > section > p:first-of-type {
        color: #ff7700;
        font-weight: bold;
        font-size: 10px;
    }

    .elapse {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #251d3a;
        border-radius: 50%;
    }

    .elapse > svg {
        width: 40%;
    }

    .Packages {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .Packages > h1 {
        font-weight: bold;
    }

    .Packages > h1 > span {
        border-bottom: 3px solid #ff7700;
    }

    .Packages > .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .Packages > p {
        text-align: center;
        margin-top: 10px;
    }

    .Packages > .cards > .card {
        justify-items: center;
        align-items: center;
        border-radius: 8px 8px 0px 0px;
        margin-left: 0;
        margin-top: 20px;
        border: transparent;
        width: 74%;
    }

    .Packages > .cards > .card > h3 {
        margin-top: 10px;
        font-size: 40px;
        font-weight: 900;
    }

    .Packages > .cards > .card > h3 > span {
        font-weight: 400;
        font-size: 20px;
    }

    .Packages > .cards > .card > ul {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        text-align: center;
        list-style: none;
    }

    .Packages > .cards > .card > ul > li {
        font-weight: 700;
        line-height: 2;
    }

    .Packages > .cards > .card > div {
        width: 100%;
        font-size: 24px;
        font-weight: bold;
        border-radius: 8px 8px 0px 0px;
        display: flex;
        justify-content: center;
        background-color: #e04d01;
        color: white;
        padding: 4%;
    }

    .Packages > .cards > .card > a {
        position: absolute;
        font-weight: bold;
        bottom: 8px;
        display: flex;
        justify-content: center;
        background-color: #e04d01;
        color: white;
        border: none;
        outline: none;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 10px;
        width: 70%;
    }

    .Packages > .cards > .card > a {
        align-items: flex-end;
    }

    .Packages > .cards > .card:nth-child(2) > ul > li {
        line-height: 3;
    }

    .Packages > .cards > .card:nth-child(2) > div {
        background-color: #2a2550;
    }

    .Packages > .cards > .card:nth-child(2) > a {
        background-color: #2a2550;
    }

    .Packages > .cards > .card:nth-child(3) > div {
        background-color: #251d3a;
    }

    .Packages > .cards > .card:nth-child(3) > a {
        background-color: #251d3a;
    }

    .Packages > a {
        font-weight: bold;
        margin: 20px;
    }

    .Packages > a.btn.btn-outline-danger:hover {
        color: black;
        border-color: black;
    }

    .Packages > a.btn.btn-outline-danger {
        color: black;
        border-color: black;
    }

    .Packages > a.btn.btn-outline-danger:hover,
    .Packages > a.btn.btn-outline-danger:focus,
    .Packages > a.btn.btn-outline-danger:active,
    .Packages > a.btn.btn-outline-danger.active {
        color: #fff;
        background-color: #ff7700;
    }

    body {
        font-family: Arial;
        font-size: 13px;
    }

    .highlight {
        position: absolute;
        display: inline-block;
        color: #fff;
        padding: 9px 4px;
        writing-mode: vertical-rl;
        top: -7px;
        left: 77%;
        width: 28px;
        line-height: 18px;
        font-size: 13px;
        font-weight: 600;
    }

    .red-bg {
        background: #ff7700;
    }

    .highlight:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: -15px;
        top: 0px;
        width: 10px;
        border: 33px solid #e04d01;
        clip-path: polygon(26% -1%, 63% -1%, 129% 31%, -41% 100%, -34% 100%, -37% 31%);
    }

    .testmonial {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 50px;
    }

    .testmonial > h1 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        line-height: 1.5;
    }

    .testmonial > h1 > .sp1 {
        border-bottom: none;

    }

    .testmonial > h1 > .sp2 {
        border-bottom: 3px solid #ff7700;
    }

    .tes-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 30px;
        align-items: center;
    }

    .testmonial > .tes-cards > :nth-child(1) {
        margin-left: 0;
    }

    .testmonial > .tes-cards > .tes-card {
        width: 100%;
        padding: 10px;
        margin: 0;
        margin-top: 20px;

    }


    .testmonial > .tes-cards > .tes-card > :nth-child(2) {
        color: #8f8f8f;
        font-size: 14px;
    }

    .testmonial > .tes-cards > :nth-child(2), .testmonial > .tes-cards > :nth-child(3) {
        display: none;
    }

    h1 {
        font-size: 24px;
        font-weight: 700;
    }
}
